.section-transaksi {
  padding: 24px;
  background-color: #fff;
  border-radius: 16px;
}

.header {
  height: 126px;
  display: flex;
  align-items: center;
}

.header .h4-title {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #000;
}

.table-transaksi {
  margin-top: 24px;
}

