.button-create {
  border-style: solid;
}

@media screen and (max-width: 480px) {
  /* body {
    background-color: lightgreen;
  } */
  .button-create .px-2{
    font-size: 9px;
  }

  .data-artikel-text{
    font-size: 10px;
    padding-right: 10px;
  }

}