.footer {
  background: #eff9ff;
}

.copyright {
  background: #cce7ff;
}

.nav-itemFooter:hover {
  font-weight: 700;
  
}

@media screen and (max-width: 550px) {
  .copyright .copyright-text {
    font-size: 16px !important;
  }
}
