.wrapper__dashboard {
  border-radius: 8px;
  border: 1px solid #cce7ff;
  padding: 20px 34px;
}

.text__title {
  font-size: 38px;
}

.text__subtitle {
  font-size: 24px;
}

.wrapper__laporan__Mingguan {
  border-radius: 8px;
  padding: 10px 20px;
  border: 1px solid #cce7ff;
}

.wrapper__laporan__Mingguan .fw-bold {
  font-size: 20px;
}

/* card laporan mingguan */

.wrapper__laporan__Mingguan .row .col .card {
  border: 1px solid #cce7ff !important;
}

.wrapper__laporan__Mingguan
  .row
  .col
  .card
  .card-body
  .d-flex
  .bgCardDashboard {
  z-index: 1;
  border-radius: 24px;
  width: 80px;
  height: 80px;
}

.wrapper__laporan__Mingguan .row .col .card .card-body .d-flex .icon-container {
  z-index: 2;
}

.wrapper__laporan__Mingguan .row .col .card .card-body .d-flex .centered-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper__laporan__Mingguan .row .col .card .card-subtitle .fw-semibold {
  font-size: 13px;
  margin: 12px 0 20px 0;
}

.wrapper__laporan__Mingguan .row .col .card .card-text {
  width: 100px;
  padding: 4px 2px;
  border: 1px solid #d1d1d1;
  font-size: 14px;
  border-radius: 8px;
}

/* end card laporan mingguan */

/* table list pasien */
.wrapper__laporan__Mingguan .table-header-border {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  height: 48px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.wrapper__laporan__Mingguan .table-row-height {
  height: 48px;
}
/* end table list pasien */

/* modal detail pasien */
.wrapper__laporan__Mingguan .modal .modal-dialog .modal-content {
  border-radius: 24px;
  border: 3px solid #aad6ff;
  padding: 30px 20px;
}

.wrapper__laporan__Mingguan
  .modal
  .modal-dialog
  .modal-content
  .modal-body
  .d-flex
  p {
  color: #00123a;
  font-size: 16px;
}

.wrapper__laporan__Mingguan
  .modal
  .modal-dialog
  .modal-content
  .modal-body
  .d-flex
  p
  span {
  color: #0085ff;
  font-size: 24px;
}
/* end modal detail pasien */

/* modal alert pasien */
.wrapper__laporan__Mingguan #modal-tolak-pasien .modal-dialog .modal-content,
.wrapper__laporan__Mingguan #modal-terima-pasien .modal-dialog .modal-content {
  border: none;
  padding: 10px 20px;
}

.wrapper__laporan__Mingguan
  #modal-terima-pasien
  .modal-dialog
  .modal-content
  .modal-body
  p {
  font-size: 16px;
}
.wrapper__laporan__Mingguan
  #modal-tolak-pasien
  .modal-dialog
  .modal-content
  .modal-body
  .text-center
  p {
  font-size: 16px;
  color: #ff5d36;
}

.wrapper__laporan__Mingguan
  #modal-tolak-pasien
  .modal-dialog
  .modal-content
  .modal-body
  .row
  .changeColorButton {
  color: #0085ff;
  background-color: #cce7ff80;
  border: 1px solid #0085ff;
  border-radius: 6px;
  padding: 6px 12px;
}

.wrapper__laporan__Mingguan
  #modal-tolak-pasien
  .modal-dialog
  .modal-content
  .modal-body
  .form-floating
  .fw-semibold {
  font-size: 18px;
}

.wrapper__laporan__Mingguan
  #modal-tolak-pasien
  .modal-dialog
  .modal-content
  .modal-body
  .text-center
  .btn {
  background-color: #ff5d36;
}
/* end modal alert pasien */
