.wrapper__dashboard {
  border-radius: 8px;
  border: 1px solid #cce7ff;
  padding: 20px 34px;
}

.text__title {
  font-size: 38px;
}

.text__subtitle {
  font-size: 24px;
}

.wrapper__laporan__Mingguan {
  border-radius: 8px;
  padding: 10px 20px;
  border: 1px solid #cce7ff;
}

.wrapper__laporan__Mingguan .fw-bold {
  font-size: 20px;
}

/* card laporan mingguan */

.wrapper__laporan__Mingguan .row .col .card {
  border: 1px solid #80c2ff !important;
}

.wrapper__laporan__Mingguan
  .row
  .col
  .card
  .card-body
  .d-flex
  .bgCardDashboard {
  z-index: 1;
  border-radius: 24px;
  width: 80px;
  height: 80px;
}

.wrapper__laporan__Mingguan .row .col .card .card-body .d-flex .icon-container {
  z-index: 2;
}

.wrapper__laporan__Mingguan .row .col .card .card-body .d-flex .centered-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper__laporan__Mingguan .row .col .card .card-subtitle .fw-semibold {
  font-size: 13px;
  margin: 12px 0 20px 0;
}

.wrapper__laporan__Mingguan .row .col .card .card-text {
  width: 100px;
  padding: 4px 0;
  border: 1px solid #80c2ff;
  font-size: 14px;
  border-radius: 8px;
}

/* end card laporan mingguan */

/* table list pasien */
.wrapper__laporan__Mingguan .table-header-border {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  height: 48px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.wrapper__laporan__Mingguan .table-row-height {
  height: 48px;
}

.pasien__kosong .fw-semibold {
  font-size: 14px;
}
/* end table list pasien */

/* modal detail pasien */
.wrapper__laporan__Mingguan .modal .modal-dialog .modal-content {
  border-radius: 24px;
  border: 3px solid #aad6ff;
  padding: 30px 20px;
}

.wrapper__laporan__Mingguan
  .modal
  .modal-dialog
  .modal-content
  .modal-body
  .d-flex
  p {
  color: #00123a;
  font-size: 16px;
}

.wrapper__laporan__Mingguan
  .modal
  .modal-dialog
  .modal-content
  .modal-body
  .d-flex
  p
  span {
  color: #0085ff;
  font-size: 24px;
}
/* end modal detail pasien */

/* modal alert pasien */
.wrapper__laporan__Mingguan #modal-tolak-pasien .modal-dialog .modal-content,
.wrapper__laporan__Mingguan #modal-terima-pasien .modal-dialog .modal-content {
  border: none;
  padding: 10px 20px;
}

.wrapper__laporan__Mingguan
  #modal-terima-pasien
  .modal-dialog
  .modal-content
  .modal-body
  p {
  font-size: 16px;
}
.wrapper__laporan__Mingguan
  #modal-tolak-pasien
  .modal-dialog
  .modal-content
  .modal-body
  .text-center
  p {
  font-size: 16px;
  color: #ff5d36;
}

.wrapper__laporan__Mingguan
  #modal-tolak-pasien
  .modal-dialog
  .modal-content
  .modal-body
  .text-center
  .custom-toast-payment {
  margin-top: 20px;
  min-width: 56vw;
}

.wrapper__laporan__Mingguan
  #modal-tolak-pasien
  .modal-dialog
  .modal-content
  .modal-body
  .row
  .changeColorButton {
  color: #0085ff;
  background-color: #cce7ff80;
  border: 1px solid #0085ff;
  border-radius: 6px;
  padding: 6px 12px;
}

.wrapper__laporan__Mingguan
  #modal-tolak-pasien
  .modal-dialog
  .modal-content
  .modal-body
  .form-floating
  .fw-semibold {
  font-size: 18px;
}

.wrapper__laporan__Mingguan
  #modal-tolak-pasien
  .modal-dialog
  .modal-content
  .modal-body
  .text-center
  .btn {
  background-color: #ff5d36;
}
/* end modal alert pasien */

/* toogle chatbot */
.toogle__chatbot {
  right: 2rem;
  bottom: 2.5rem;
  z-index: 999;
  position: fixed;
}

.toogle__chatbot .bg-white {
  border-radius: 50%;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}
/* end toogle chatbot */

@media screen and (max-width: 992px) {
  .wrapper__laporan__Mingguan
    .modal
    .modal-dialog
    .modal-content
    .modal-body
    .d-flex {
    flex-wrap: wrap;
    align-items: center;
  }

  .wrapper__laporan__Mingguan
    .modal
    .modal-dialog
    .modal-content
    .modal-body
    .d-flex
    .ms-4
    .mt-5 {
    justify-content: center;
  }

  .wrapper__laporan__Mingguan
    .modal
    .modal-dialog
    .modal-content
    .modal-body
    .d-flex
    .ms-4 {
    margin-top: 2rem;
  }

  .wrapper__laporan__Mingguan
    #modal-terima-pasien
    .modal-dialog
    .modal-content
    .alert__loading {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap-reverse;
  }

  .wrapper__laporan__Mingguan
    #modal-terima-pasien
    .modal-dialog
    .modal-content
    .alert__loading
    p {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .row .col-lg-12 .wrapper__dashboard .d-flex .col-3 img {
    display: none;
  }

  .row .col-lg-12 .wrapper__dashboard {
    text-align: center;
    flex-direction: column;
  }

  .row .col-lg-12 .wrapper__dashboard .d-flex .col-lg-9 .text__subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 436px) {
  .row .col-lg-12 .wrapper__dashboard {
    flex-direction: column;
    text-align: center;
  }
  .row .col-lg-12 .wrapper__dashboard .d-flex .col-lg-9 .text__title {
    font-size: 32px;
  }
  .row .col-lg-12 .wrapper__dashboard .d-flex .col-lg-9 .text__subtitle {
    font-size: 18px;
  }

  .wrapper__laporan__Mingguan
    .modal
    .modal-dialog
    .modal-content
    .modal-body
    .d-flex
    img {
    width: 50%;
    height: 50%;
  }

  .wrapper__laporan__Mingguan
    .modal
    .modal-dialog
    .modal-content
    .modal-body
    .d-flex {
    flex-wrap: wrap;
    align-items: center;
  }

  .wrapper__laporan__Mingguan
    .modal
    .modal-dialog
    .modal-content
    .modal-body
    .d-flex
    .ms-4 {
    margin-top: 2rem;
  }

  .wrapper__laporan__Mingguan
    .modal
    .modal-dialog
    .modal-content
    .modal-body
    .d-flex
    .ms-4
    .mt-5 {
    justify-content: center;
  }

  .wrapper__laporan__Mingguan
    #modal-terima-pasien
    .modal-dialog
    .modal-content
    .alert__loading {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap-reverse;
  }

  .wrapper__laporan__Mingguan
    #modal-terima-pasien
    .modal-dialog
    .modal-content
    .alert__loading
    p {
    text-align: center;
  }

  .wrapper__laporan__Mingguan
    #modal-terima-pasien
    .modal-dialog
    .modal-content
    .modal-body
    .d-flex
    p {
    font-size: 14px;
    padding: 0 40px;
    line-height: 1rem;
  }

  .pasien__kosong .fw-semibold {
    text-align: center;
    font-size: 12px;
  }
}
