@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

.pengalaman .container .pengalaman-form {
  width: 100%;
  height: 520px;
  padding-top: 70px;
  padding-left: 60px;
  padding-right: 60px;
  align-items: center;
  align-content: center;
  flex-shrink: 0;
  flex-wrap: wrap;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.pengalaman .container .pengalaman-form .pengalaman-title {
  color: var(--neutral-1000, #000);
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 20px;
}

.pengalaman .container .pengalaman-form .row .col-md-6 label,
.pengalaman .container .pengalaman-form .row label {
  display: flex;
  height: 34px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  color: var(--neutral-1000, #000);
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.pengalaman .container .pengalaman-form .row .col-md-6 input {
  display: flex;
  height: 40px;
  width: 90%;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.pengalaman .container .pengalaman-form .row .input-alamat-perusahaan {
  padding-left: 10px;
}

.pengalaman .container .pengalaman-form .row input {
  display: flex;
  height: 40px;
  width: 70%;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

.pengalaman .container .button-container .btn {
  width: 400px;
  height: 60px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: var(--neutral-50, #FFF);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 1024px) {
  .pengalaman .container .pengalaman-form {
    height: fit-content;
    width: 100%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
  }

  .pengalaman .container .pengalaman-form .pengalaman-title {
    font-size: 16px;
  }

  .pengalaman .container .pengalaman-form .row .col-md-6 label {
    font-size: 14px;
  }

  .pengalaman .container .pengalaman-form .row label {
    font-size: 14px;
  }

  .pengalaman .container .pengalaman-form .row .col-md-6 input {
    height: 36px;
    width: fit-content;
  }

  .pengalaman .container .pengalaman-form .row input {
    height: 36px;
    width: 80%;
  }

  .pengalaman .container .button-container .btn {
    width: fit-content;
  }
}

@media (max-width: 540px) {
  .pengalaman .container .pengalaman-form .row .col-md-6 input {
    height: 36px;
    width: 90%;
    font-size: 12px;
  }

  .pengalaman .container .pengalaman-form .row input {
    height: 36px;
    width: 90%;
    font-size: 12px;
  }
}