@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

.modal-profile .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(122, 125, 127, 0.6);    
    z-index: 1000;
  }
  
  .modal-profile .modal {
    display: none;
    padding: 10px;
    width: 469px;
    height: 450px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 25px 20px;
    flex-shrink: 0;
    flex-wrap: wrap;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.25); 
    overflow: hidden;
  }
  
  .modal-profile .modal .show {
    display: block;
  }

  .modal-profile .modal .modal-dialog .modal-content .modal-header h5 {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    align-self: stretch;
    color: #333;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 20px;
  }

  .modal-profile .modal .modal-dialog .modal-content .modal-body p {
    width: 400px;
    flex-shrink: 0;
    color: #878787;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .modal-profile .modal .modal-dialog .modal-content .modal-footer .btn,
  .modal-profile .modal .modal-dialog .modal-content .modal-footer .btn-batal {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .modal-profile .modal .modal-dialog .modal-content .modal-footer .btn {
    color: #fff;
  }

  
  .modal-profile .modal .modal-dialog .modal-content .modal-footer .btn-batal {
    height: var(--spc-40, 40px);
    width: 140px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    color: var(--neutral-1000, #000);
  }

  .modal-profile .modal .modal-dialog .modal-content .modal-footer .btn-batal:hover {
    background-color:#0d6efd;
    color: #ffffff;
  }

  @media (max-width: 768px) {
    .modal-profile .modal {
      padding: 5px;
      width: 60%;
      height: fit-content;
    }
  
    .modal-profile .modal .modal-dialog .modal-content .modal-header h5 {
      font-size: 14px;
    }
  
    .modal-profile .modal .modal-dialog .modal-content .modal-body p {
      font-size: 10px;
      width: fit-content;
    }
  
    .modal-profile .modal .modal-dialog .modal-content .modal-footer .btn,
    .modal-profile .modal .modal-dialog .modal-content .modal-footer .btn-batal {
      font-size: 12px;
    }
  }