.section1 {
  margin-top: 150px;
}

.btn-daftarKonselor {
  background: #0085ff;
}

.text1Section1 {
  color: #0059aa;
}

.section2 {
  margin-top: 180px;
}

.text2 {
  color: #55aeff;
}

.circle1 {
  background: #cce7ff;
  height: 90px;
  width: 90px;
  border-radius: 5000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle2 {
  background: #aad6ff;
  height: 60px;
  width: 60px;
  border-radius: 5000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3 {
  margin-top: 250px;
  background: #0059aa;
  height: 447px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.konselorCard {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.textWrap {
  width: 700px;
}

.section4 {
  margin-top: 150px;
  min-height: 70vh;
  background-image: url('/src/assets/background/Rectangle\ 2711.png');
  background-position: center;
  background-size: cover;
}
